@namespace C64.FrontEnd.Pages

@inject Microsoft.AspNetCore.Http.HttpContextAccessor httpContext
@inject ILogger<WriteComment>  logger;
@inject IToastService toastService
@inject NavigationManager navigationManager

<BootstrapModal @ref="bootstrapModal" Title="Add new group" Size="BootstrapModal.ModalSize.Large">
    <Content>
        <EditForm Model="editGroup" OnValidSubmit="OnValidSubmit">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <div class="form-group">
                @if (showExistsWarning)
                {
                    <div class="float-right red"><b>Warning: a Group with the same name already exists!</b></div>
                }
                <label>
                    Group name:
                </label>
                <div>

                    <InputText class="form-control" @bind-Value="@editGroup.Name" @onblur="OnBlur" />
                    <ValidationMessage For="@(() => editGroup.Name)" />
                </div>
            </div>
            <div class="form-group">
                <label>Aka (also known as):</label>
                <div>
                    <InputText class="form-control" @bind-Value="@editGroup.Aka" />
                    <ValidationMessage For="@(() => editGroup.Aka)" />
                </div>
            </div>
            <div class="form-group">
                <label>Founded on:</label>
                <div>
                    <InputPartialDate @bind-Value="@editGroup.FoundedDate" StartingYear="1982" EndingYear="DateTime.Now.Year" />
                </div>
            </div>

            <div class="form-group">
                <label>Terminated on:</label>
                <div>
                    <InputPartialDate @bind-Value="@editGroup.ClosedDate" StartingYear="1982" EndingYear="DateTime.Now.Year" />
                </div>
            </div>
            <button class="btn btn-primary" type="submit">Add Group</button>
        </EditForm>
    </Content>
</BootstrapModal>

@code {
    [Parameter]
    public Group Group { get; set; }

    [Parameter]
    public EventCallback OnClosed { get; set; }

    [Parameter]
    public IUnitOfWork unitOfWork { get; set; }

    private bool showExistsWarning;

    private BootstrapModal bootstrapModal;

    private EditGroup editGroup = new EditGroup();

    private async Task OnBlur()
    {
        var existingGroup = await unitOfWork.Groups.Find(p => p.Name.Equals(editGroup.Name));
        showExistsWarning = existingGroup.Any();
    }

    private async Task OnValidSubmit()
    {

        Group.Name = editGroup.Name;
        Group.Aka = editGroup.Aka;
        Group.FoundedDate = editGroup.FoundedDate.Date;
        Group.FoundedDateType = editGroup.FoundedDate.Type;
        Group.ClosedDate = editGroup.ClosedDate.Date;
        Group.ClosedDateType = editGroup.ClosedDate.Type;

        Group.AddedById = httpContext.HttpContext.GetUserId();
        Group.Added = DateTime.Now;

        unitOfWork.Groups.Add(Group);

        await unitOfWork.Commit();

        var groupHistory = HistoryHandlerFactory.Get(HistoryEntity.Group, unitOfWork, Group, httpContext.HttpContext.GetUserId(), httpContext.HttpContext.RemoteIp());
        groupHistory.AddHistory(HistoryEditProperty.AddGroup, Group);
        groupHistory.Apply();

        await unitOfWork.Commit();

        navigationManager.NavigateTo($"/groups/{Group.GroupId}/{Group.Name.UrlEncode()}");
    }

    protected override void OnInitialized()
    {
        if (!httpContext.HttpContext.CanEdit())
        {
            navigationManager.NavigateTo("/help/contribute");
            toastService.ShowInfo("Editing requires an updated account - please drop us a note to have your account updated!");
            return;
        }

        editGroup.Name = Group.Name;
        editGroup.Aka = Group.Aka;
        editGroup.FoundedDate = new PartialDate(Group.FoundedDate, Group.FoundedDateType);
        editGroup.ClosedDate = new PartialDate(Group.ClosedDate, Group.ClosedDateType);
    }
}