@page "/productions/{ProdType}/{ListBy}/{StartLetter}"
@page "/productions/{ProdType}/{ListBy}"

@inject NavigationManager navigationManager
@inject IUnitOfWork unitOfWork

@implements IDisposable

<PageTitle Title="@title" />
<Box>
    <Title>@title</Title>
    <Content>
        @if (productionIds != null)
        {
            <ProductionList @ref="productionList" ProductionIds="@productionIds" BaseUrl="@baseUrl" DefaultSortColumn="@defaultSortColumn" DefaultIsSortedAscending="@defaultSortedAscending" HideSorter="true" />
        }
    </Content>
</Box>

@code {

    [Parameter]
    public string ProdType { get; set; }

    [Parameter]
    public string ListBy { get; set; }

    [Parameter]
    public string StartLetter { get; set; }

    private ICollection<int> productionIds;

    private ProductionList productionList;

    private string baseUrl
    {
        get
        {
            return $"productions/{ProdType}/{ListBy}/{StartLetter}";
        }
    }

    private string title;

    private string defaultSortColumn = "Name";
    private bool defaultSortedAscending = true;

    private async void OnLocationChanged(object sender, LocationChangedEventArgs args)
    {
        await LoadContent();
        productionList.Update();
    }

    protected override async Task OnInitializedAsync()
    {
        navigationManager.LocationChanged += OnLocationChanged;
        await LoadContent();
    }

    private async Task LoadContent()
    {
        switch (ListBy)
        {
            case "latestadded":
                defaultSortColumn = "Added";
                defaultSortedAscending = false;
                title = "Latest added demos";
                productionIds = (await unitOfWork.Productions.Find(p => true)).Select(p => p.ProductionId).ToList();
                break;
            case "latestreleased":
                defaultSortColumn = "ReleaseDate";
                defaultSortedAscending = false;
                title = "Latest released demos";
                productionIds = (await unitOfWork.Productions.Find(p => true)).Select(p => p.ProductionId).ToList();
                break;
            case "toprated":
                productionIds = (await unitOfWork.Productions.Find(p => true)).Select(p => p.ProductionId).ToList();
                defaultSortColumn = "AverageRating";
                defaultSortedAscending = false;
                title = "Top rated demos";
                break;
            case "topdownloaded":
                productionIds = (await unitOfWork.Productions.Find(p => true)).Select(p => p.ProductionId).ToList();
                defaultSortColumn = "Downloads";
                defaultSortedAscending = false;
                title = "Top downloaded demos";
                break;
            case "demoname":
                if (StartLetter.Equals("other", StringComparison.OrdinalIgnoreCase))
                {
                    var letters = "ABCDEFGHIJKLMNOPQRSTUVWXYZ";
                    productionIds = (await unitOfWork.Productions.Find(p => !letters.Contains(p.Name.Substring(0, 1)))).Select(p => p.ProductionId).ToList();
                    title = $"Demos not starting with a letter";
                }
                else
                {
                    productionIds = (await unitOfWork.Productions.Find(p => p.Name.StartsWith(StartLetter, StringComparison.OrdinalIgnoreCase))).Select(p => p.ProductionId).ToList();
                    title = $"Demos starting with {StartLetter}";
                }
                break;
            case "groupname":
                if (StartLetter.Equals("other", StringComparison.OrdinalIgnoreCase))
                    title = "Demos from groups not starting with a letter";
                else
                    title = $"Demos from groups starting with {StartLetter}";

                var prodIds = await unitOfWork.Productions.GetIdsOfGroupReleasesByLetter(StartLetter);
                productionIds = prodIds.ToList();

                break;
            case "year":

                if (!int.TryParse(StartLetter, out var year))
                    navigationManager.NavigateTo("/productions/demos");

                title = $"Demos released in {year}";
                productionIds = (await unitOfWork.Productions.Find(p => p.ReleaseDate.Year == year)).Select(p => p.ProductionId).ToList();
                break;
            default:
                // On invalid searched, show latest added
                defaultSortColumn = "ReleaseDate";
                defaultSortedAscending = false;
                title = "Latest released demos";
                productionIds = (await unitOfWork.Productions.Find(p => true)).Select(p => p.ProductionId).ToList();
                break;
        }

        StateHasChanged();

    }

    public void Dispose()
    {
        navigationManager.LocationChanged -= OnLocationChanged;
    }

}