@inject IJSRuntime jsRuntime
@inject NavigationManager navigationManager

<header>
    <div class="container-fluid">
        <div class="container-fluid" style="max-width:1400px;">
            <div class="grid-wrapper">
                <div class="grid-logo">
                    <a class="navbar-brand" href="/">
                        <img src="/images/title2.gif" width="300" alt="c64.ch" class="header-logo" />
                    </a>
                </div>

                <div class="grid-usermenu d-none d-md-block">
                    <LoginHeader />
                </div>
                <div class="grid-search mb-1">
                    <SearchHeader />
                    <div class="header-hamburger d-block d-md-none" onclick="openNav()">

                        <i class="fas fa-bars"></i>
                    </div>
                </div>
                <div class="grid-navigation d-none d-md-block">
                    <ul class="nav nav-pills">
                        <li class="nav-item">
                            <a href="/" class="nav-link">Home</a>
                        </li>
                        <li class="nav-item">
                            <a href="/productions/demos" class="nav-link">Demos</a>
                        </li>
                        @*<li class="nav-item">
                                <a href="#" class="nav-link">Groups</a>
                            </li>*@
                        <li class="nav-item">
                            <a href="/parties" class="nav-link">Parties</a>
                        </li>
                        <li class="nav-item">
                            <a href="/links" class="nav-link">Links</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Programming</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="/programming">Tutorial</a>
                                <a class="dropdown-item" href="/programming/sourcecodes">Sourcecodes</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a href="/guestbook" class="nav-link">Guestbook</a>
                        </li>
                        @*<AuthorizeView>
                            <Authorized>*@
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Add</a>
                            <div class="dropdown-menu">
                                <AddProductionLink class="dropdown-item"><Content>Add Production</Content></AddProductionLink>
                                <AddScenerLink class="dropdown-item"><Content>Add Scener</Content></AddScenerLink>
                                <AddGroupLink class="dropdown-item"><Content>Add Group</Content></AddGroupLink>
                                <AddPartyLink class="dropdown-item"><Content>Add Party</Content></AddPartyLink>
                                <AuthorizeView Roles="Moderator">
                                    <Authorized Context="InnerContext">
                                        <AddNewsLink class="dropdown-item"><Content>Add News</Content></AddNewsLink>
                                    </Authorized>
                                </AuthorizeView>
                            </div>
                        </li>
                        @*</Authorized>
                                <NotAuthorized>
                                    <li class="nav-item dropdown">
                                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Add</a>
                                        <div class="dropdown-menu">
                                            <LoginLink class="dropdown-item"><Content>Login</Content></LoginLink>
                                        </div>
                                    </li>
                                </NotAuthorized>
                            </AuthorizeView>*@
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Help</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="/help/faq">FAQ</a>
                                <a class="dropdown-item" href="/help/feedback">Feedback</a>
                                <a class="dropdown-item" href="/help/contribute">Contribute</a>
                                <a class="dropdown-item" href="/help/changelog">Changelog</a>
                                <a class="dropdown-item" href="/help/donations">Donations</a>
                                <a class="dropdown-item" href="/tools">Tools</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="/help/about">About</a>
                                <a class="dropdown-item" href="/help/technical">Technical</a>
                                <a class="dropdown-item" href="/help/contact">Contact</a>
                            </div>
                        </li>
                    </ul>
                </div>
                <div id="mobileNav" class="navOverlay">
                    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                    <div class="navOverlay-content">
                        <ul>
                            <li><a href="" @onclick:preventDefault @onclick="@(() => NavigateTo("/"))"><i class="fas fa-home w-25px" title="Home"></i> Home</a></li>
                            <li><a href="" @onclick:preventDefault @onclick="@(() => NavigateTo("/productions/demos"))"><i class="fas fa-laptop-code w-25px" title="Demos"></i> Demos</a></li>
                            <li><a href="" @onclick:preventDefault @onclick="@(() => NavigateTo("/parties"))"><i class="fas fa-glass-cheers w-25px" title="Partis"></i> Parties</a></li>
                            <li><a href="" @onclick:preventDefault @onclick="@(() => NavigateTo("/links"))"><i class="fas fa-link w-25px" title="Links"></i> Links</a></li>
                            <li>
                                <a class="trigger" onclick="onTrigger(this)"><i class="fas fa-microchip w-25px" title="Programming"></i> Programming</a>
                                <nav class="nav-items" style="display:none">
                                    <ul>
                                        <li><a href="" @onclick:preventDefault @onclick="@(() => NavigateTo("/programming"))">Tutorial</a></li>
                                        <li><a href="" @onclick:preventDefault @onclick="@(() => NavigateTo("/programming/sourcecodes"))">Sourcecodes</a></li>
                                    </ul>
                                </nav>
                            </li>
                            <li><a href="" @onclick:preventDefault @onclick="@(() => NavigateTo("/guestbook"))"><i class="fas fa-atlas w-25px" title="Guestbook"></i> Guestbook</a></li>
                            <li>
                                <a class="trigger" onclick="onTrigger(this)"><i class="fas fa-microchip w-25px" title="Add"></i> Add</a>
                                @*<AuthorizeView>
                                    <Authorized>*@
                                <nav class="nav-items" style="display:none">
                                    <ul>
                                        <li><AddProductionLink ExecuteBefore="CloseMenu"><Content>Add Production</Content></AddProductionLink></li>
                                        <li><AddScenerLink ExecuteBefore="CloseMenu"><Content>Add Scener</Content></AddScenerLink></li>
                                        <li><AddGroupLink ExecuteBefore="CloseMenu"><Content>Add Group</Content></AddGroupLink></li>
                                        <li><AddPartyLink ExecuteBefore="CloseMenu"><Content>Add Party</Content></AddPartyLink></li>
                                        <AuthorizeView Roles="Moderator">
                                            <Authorized Context="InnerContext">
                                                <li><AddNewsLink class="dropdown-item"><Content>Add News</Content></AddNewsLink></li>
                                            </Authorized>
                                        </AuthorizeView>
                                    </ul>
                                </nav>
                                @*</Authorized>
                                        <NotAuthorized>
                                            <nav class="nav-items" style="display:none">
                                                <ul>
                                                    <li><LoginLink ExecuteBefore="CloseMenu"><Content>Login</Content></LoginLink></li>
                                                </ul>
                                            </nav>
                                        </NotAuthorized>
                                    </AuthorizeView>*@
                                <nav class="nav-items" style="display:none">
                                    <ul>
                                        <li><a href="" @onclick:preventDefault @onclick="@(() => NavigateTo("/programming"))">Tutorial</a></li>
                                        <li><a href="" @onclick:preventDefault @onclick="@(() => NavigateTo("/programming/sourcecodes"))">Sourcecodes</a></li>
                                    </ul>
                                </nav>
                            </li>

                            <li class="mb-4">
                                <a class="trigger" onclick="onTrigger(this)"><i class="fas fa-question w-25px" title="Help"></i> Help</a>
                                <nav class="nav-items" style="display:none">
                                    <ul>
                                        <li><a href="" @onclick:preventDefault @onclick="@(() => NavigateTo("/help/faq"))">FAQ</a></li>
                                        <li><a href="" @onclick:preventDefault @onclick="@(() => NavigateTo("/help/feedback"))">Feedback</a></li>
                                        <li><a href="" @onclick:preventDefault @onclick="@(() => NavigateTo("/help/contribute"))">Contribute</a></li>
                                        <li><a href="" @onclick:preventDefault @onclick="@(() => NavigateTo("/help/changelog"))">Changelog</a></li>
                                        <li><a href="" @onclick:preventDefault @onclick="@(() => NavigateTo("/help/donations"))">Donations</a></li>
                                        <li><a href="" @onclick:preventDefault @onclick="@(() => NavigateTo("/tools"))">Tools</a></li>
                                        <li><div class="dropdown-divider"></div></li>
                                        <li><a href="" @onclick:preventDefault @onclick="@(() => NavigateTo("/help/about"))">About</a></li>
                                        <li><a href="" @onclick:preventDefault @onclick="@(() => NavigateTo("/help/technical"))">Technical</a></li>
                                        <li><a href="" @onclick:preventDefault @onclick="@(() => NavigateTo("/help/contact"))">Contact</a></li>
                                    </ul>
                                </nav>
                            </li>
                            @*<partial name="_LoginPartialMobile" />*@
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

@code {
    private async Task CloseMenu()
    {
        await jsRuntime.InvokeVoidAsync("closeNav");
    }

    private async Task NavigateTo(string url)
    {
        await CloseMenu();
        navigationManager.NavigateTo(url);
    }
}