<div class="prodlistitem">
    <div class="prodlistitem-header">
        <a href="">
            @Production.Name
        </a>
        <span></span>
    </div>
    <div class="prodlistitem-body">
        <div class="thumb">
            <a href="/productions/@Production.ProductionId/@Production.Name.UrlEncode()">

                <FirstProductionThumbnail Production="@Production" Size="ThumbnailSize.Thumbnail240x169" />

                <div class="icons">
                    @if (Production.NumberOfVideos > 0)
                    {
                        <i class="fas fa-film m-1" title="has video"></i>
                    }
                    @if (Production.IsPartyRelease)
                    {
                        <i class="fas fa-beer m-1" title="party release"></i>
                    }

                    @if (Production.NumberOfComments > 0)
                    {
                        <i class="fas fa-comment-dots m-1" title="has comments"></i>
                    }

                    @if (Production.NumberOfHiddenParts > 0)
                    {
                        <i class="fas fa-user-secret m-1" title="has hidden parts"></i>
                    }
                </div>
            </a>
        </div>
        <div class="prodlistitem-content overflow-hidden">
            <table>
                <tbody>
                    <tr class="align-top">
                        <th>by:</th>
                        <td class="break-word @(NoWrapGroupName ? "nowrap" : "")">
                            <MultiLinkJoiner LastSeparator=" and  " Separator=", " AlsoAddValue="true" MultiLinkJoinables="Production.GetCreatorLinks()" />
                        </td>
                    </tr>
                    @if (ShowReleased)
                    {
                        <tr><th>Released:</th><td>@Production.ReleaseDate.ParseDate(Production.ReleaseDateType)</td></tr>
                    }
                    @if (ShowAdded)
                    {
                        <tr><th>Added:</th><td>@Production.Added.ParseDate(DateType.YearMonthDay)</td></tr>
                    }
                    @if (ShowDownloads)
                    {
                        <tr><th>Downloads:</th><td>@Production.Downloads</td></tr>
                    }
                    @if (ShowRating)
                    {
                        <tr><th>Rating:</th><td>@Production.GetRatingText()</td></tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@code{
    [Parameter]
    public Production Production { get; set; }

    [Parameter]
    public bool NoWrapGroupName { get; set; } = false;
    [Parameter]
    public bool ShowReleased { get; set; } = true;

    [Parameter]
    public bool ShowAdded { get; set; } = true;

    [Parameter]
    public bool ShowDownloads { get; set; } = true;

    [Parameter]
    public bool ShowRating { get; set; } = true;
}