@namespace C64.FrontEnd.Pages

<h4>@Party.Name</h4>

@if (IsPast())
{
    <p>The party was held from <b><PartialDateDisplay DateValue="Party.From" /> to <PartialDateDisplay DateValue="Party.To" /></b> in @Party.Location (@(Party.Country == null ? Party.CountryId : Party.Country.Name)) </p>
}
else
{
    <p>The party will take place from <b><PartialDateDisplay DateValue="Party.From" /> to <PartialDateDisplay DateValue="Party.To" /></b> in @Party.Location (@Party.CountryId) </p>
}
<p>
    Organized by: @Party.Organizers
</p>

@if (!string.IsNullOrEmpty(Party.Url))
{
    <p><a href="@Party.Url" target="_blank">Visit Homepage (@Party.Url)</a></p>
}

@if (!string.IsNullOrEmpty(Party.Email))
{
    <p><a href="mailto: @Party.Email">Send Email to the organizers</a></p>
}

@if (!string.IsNullOrEmpty(Party.Description))
{
    <h4>Description:</h4>
    <p>
        <RenderMarkdown MarkdownContent="@Party.Description" />
    </p>

}

@code {
    [Parameter]
    public Party Party { get; set; } = new Party();

    private bool IsPast()
    {
        return Party.To < DateTime.Now;
    }
}