@namespace C64.FrontEnd.Pages

<h3>@Party.Name</h3>
@if (ShowSeeDetailsLink)
{
    <p><a href="/parties/@Party.PartyId/@Party.Name.UrlEncode()">See details</a></p>
}

@if (IsPast())
{
    <p>The party was held from <b><PartialDateDisplay DateValue="Party.From" /> to <PartialDateDisplay DateValue="Party.To" /></b> in @Party.Location (@(Party.Country == null ? Party.CountryId : Party.Country.Name)) </p>
}
else
{
    <p>The party will take place from <b><PartialDateDisplay DateValue="Party.From" /> to <PartialDateDisplay DateValue="Party.To" /></b> in @Party.Location (@Party.CountryId) </p>
}
<h5>
    Organized by: @Party.Organizers
</h5>

@if (!string.IsNullOrEmpty(Party.Url))
{
    <p><a href="@Party.Url" target="_blank">Visit Homepage (@Party.Url)</a></p>
}

@if (!string.IsNullOrEmpty(Party.Email))
{
    <p><a href="mailto: @Party.Email">Send Email to the organizers</a></p>
}

@if (!string.IsNullOrEmpty(Party.Description))
{
    <h5>Description:</h5>
    <p>
        <RenderMarkdown MarkdownContent="@Party.Description" />
    </p>

}
<hr />
@code {
    [Parameter]
    public Party Party { get; set; } = new Party();

    [Parameter]
    public bool ShowSeeDetailsLink { get; set; } = false;

    private bool IsPast()
    {
        return Party.To < DateTime.Now;
    }
}