@namespace C64.FrontEnd.Pages

@inject Microsoft.AspNetCore.Http.HttpContextAccessor httpContext
@inject IJSRuntime jsRuntime
@inject IUnitOfWork unitOfWork

<BootstrapModal @ref="bootstrapModal" Title="@title" Size="BootstrapModal.ModalSize.Large">
    <Content>
        <p>@title</p>
        <ul class="list-unstyled">
            @foreach (var history in histories)
            {
                <li>
                    <div class="row">
                        <div class="col-6">@history.User.UserName</div>
                        <div class="col-6">@history.Applied</div>
                    </div>
                    <div class="row">
                        <div class="col-12">@Parsed(history)</div>
                    </div>
                    <hr />
                </li>
            }
        </ul>
    </Content>
</BootstrapModal>

@code {
    [Parameter]
    public Production Production { get; set; }

    [Parameter]
    public Group Group { get; set; }

    [Parameter]
    public Party Party { get; set; }

    [Parameter]
    public Scener Scener { get; set; }

    private BootstrapModal bootstrapModal;

    private IEnumerable<HistoryRecord> histories = new HashSet<HistoryRecord>();

    private string title;

    protected override async Task OnInitializedAsync()
    {
        if (Production != null)
        {
            histories = (await unitOfWork.Productions.GetHistory(Production.ProductionId)).OrderByDescending(p => p.Applied);
            title = $"History of {Production.Name}";
        }
        else if (Group != null)
        {
            histories = (await unitOfWork.Groups.GetHistory(Group.GroupId)).OrderByDescending(p => p.Applied);
            title = $"History of {Group.Name}";
        }
        else if (Scener != null)
        {
            histories = (await unitOfWork.Sceners.GetHistory(Scener.ScenerId)).OrderByDescending(p => p.Applied);
            title = $"History of {Scener.Handle}";
        }
        else
        {
            histories = (await unitOfWork.Parties.GetHistory(Party.PartyId)).OrderByDescending(p => p.Applied);
            title = $"History of {Party.Name}";
        }
    }

    private string Parsed(HistoryRecord history)
    {
        return history.Description;
    }
}